## Deliverable 3: Create a Travel Itinerary Map

In [1]:
import pandas as pd
import requests
import gmaps

from config import g_key

In [2]:
gmaps.__version__

'0.9.0'

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
vacation_df = pd.read_csv("./data/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,lebu,CL,287.01,-37.6167,-73.6500,Hostal Las Lilas
1,1,domoni,KM,301.15,-12.2569,44.5319,Al Djadid
2,2,kenai,US,268.18,60.5544,-151.2583,Aspen Extended Stay Suites
3,3,lasa,IT,277.85,46.6166,10.7002,Pension Feldgärtenhof
4,4,longkou,CN,271.81,37.6508,120.3286,Pai Hotel Yantai Longkou City Heping Road

In [5]:
# Using the templete add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} </dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [6]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
vacation_start = vacation_df.loc[vacation_df["City"] == "veraval"]
vacation_end = vacation_df.loc[vacation_df["City"] == "basna"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "diu"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "majholi"]

In [15]:
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]
print(start)
print(end)
print(stop1)
print(stop2)

(20.9, 70.3667)
(21.2833, 82.8167)
(20.7141, 70.9822)
(23.5, 79.9167)

In [20]:
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2],
travel_mode="DRIVING"
)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
itenerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2],ignore_index=True)

In [11]:
itenerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,370,veraval,IN,294.79,20.9000,70.3667,Lords Inn Somnath
1,300,basna,IN,295.48,21.2833,82.8167,Hotel Grand Alfa [BASNA]
2,530,diu,IN,294.85,20.7141,70.9822,Hotel Relax Inn
3,410,majholi,IN,287.73,23.5000,79.9167,Amit Jain majholi

In [12]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} </dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in itenerary_df.iterrows()]
locations = itenerary_df[["Lat", "Lng"]]

In [13]:
#locations

In [14]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))